Dependencies

In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pymongo

# NASA Mars News

In [2]:
#URL INFO
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)

In [3]:
#Setting up the scrape
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
#Scraping for title and paragraph
#title
big_title = soup.find('div', class_="content_title")
news_title = big_title.text


#paragraph
p_class = soup.find('div', class_="article_teaser_body")
news_p = p_class.text

In [5]:
print(news_p)

Vibrations picked up by two spacecraft instruments have provided the first sounds of Martian wind.

# JPL Mars Space Images - Featured Image

In [6]:
featured_image= 'www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19964-1920x1200.jpg'

# Mar's Weather

In [7]:
#scraping the twitter page
url3 = "https://twitter.com/marswxreport?lang=en"
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url3)
html3 = browser.html
soup3 = BeautifulSoup(html3, 'html.parser')

In [8]:
#looking for most current info
tweet = soup3.find("div", class_="js-tweet-text-container")
#mars weather
current_tweet = tweet.text

In [9]:
print(current_tweet)

Sol 2248 (2018-12-02), high 1C/33F, low -71C/-95F, pressure at 8.46 hPa, daylight 06:32-18:47

# Mars Facts

In [10]:
#getting the info from the url
facts_url = "https://space-facts.com/mars/"
mars_tables = pd.read_html(facts_url)
mars_tables
#mars tables is a list

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
#renaming as a dataframe
marsdf = mars_tables[0]
marsdf.columns = ["", "Values"]
marsdf

                                                Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
#gonna convert to HTML
html_mars = marsdf.to_html()
html_mars

#strip unwanted lines
html_mars = html_mars.replace('\n', '')

# Mars Hemisphere

In [13]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg"},
]

In [21]:
hemisphere_image_urls[0]['img_url']

'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'